# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
*.local

src/files/involuted-river-433305-b5-518f1ecbc972.json
src/files/my-first-demo-a7635-firebase-adminsdk-77epm-a65583f68a.json
src/files/SubscriptionKey_58NCGQ567A.p8
