/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

//@import "@ionic/angular/css/palettes/dark.always.css";
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import "@ionic/angular/css/palettes/dark.system.css";
@import "./theme/custom_var.scss";
@import "./theme/fonts.scss";


* {
  font-family: var(--font-family);
  font-size: var(--font-size);
}

::-webkit-scrollbar {
  display: none;
}

// https://developer.mozilla.org/en-US/docs/Web/CSS/env
ion-app {
  // important to keep the safe space on mobile device top and bottom
  margin-bottom: env(safe-area-inset-bottom);
  margin-top: env(safe-area-inset-top);
}

ion-modal {
  // important if you displat ads banner when modal is open
  // or google gonna reject your app because banners ads overlay the text of the modal
  &.modal-ads {
    .ion-page {
      padding-bottom: calc(50px);
    }
  }
}

ion-menu-button {
  font-size: 40px;
}

ion-button {
  text-transform: none;
}

ion-icon {
  cursor: pointer;
  font-size: 2.0rem;

  &[size="default"] {
    font-size: 1.8rem;
  }

  &[size="xl"] {
    font-size: 3.2rem !important;
  }

  &[size="sm"] {
    font-size: 1.6rem !important;
  }
}

